html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  border-radius: 10px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
    width: 400px;
  background-color: white;
  border-radius: 20px;
}
.screen {
    background-color: rgb(227, 119, 155);
    color: white;
    text-align: right;
    width: 380px;
    height: 80px;
    font-size: 40px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 10px;
    border-radius: 20px;
    border: 50px;
    margin-left: calc((100% - 380px) / 2);
    margin-top: 20px;
    margin-bottom: 20px;
}
.calc-buttons {
    background-color: white;
    display: grid;
    grid-gap: 5px solid rgb(229, 54, 83);

}
.calc-buttonC {
    width: 45%;
    height: 100px;
    font-size: 40px;
    margin: 0;
    background-color: pink;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.calc-buttonC:hover {
    background-color: rgb(228, 21, 55);
}
.calc-buttonC:active {
    background-color: rgb(241, 79, 106);
}
.calc-buttonL {
    width: 22%;
    height: 100px;
    font-size: 40px;
    border: 2px solid black;
    margin: 0;
    background-color: pink;  
    color: black;
    border-radius: 20px;
    margin-right: 5px;
}
.calc-buttonL:hover {
    background-color: rgb(228, 21, 55);
}
.calc-buttonL:active {
    background-color: rgb(241, 79, 106);
}
.calc-buttonD {
    width: 22%;
    background-color: white;
    height: 100px;
    font-size: 40px;
    border: 2px solid black;
    margin: 0;
    border-radius: 20px;
    margin-right: 5px;
    color: rgb(253, 17, 56);
}
.calc-buttonD:hover {
    background-color: rgb(228, 21, 55);
    color: whitesmoke;
}
.calc-buttonD:active {
    background-color: rgb(241, 79, 106);
    color: whitesmoke;

}
.calc-button7 {
    width: 22%;
    height: 100px;
    font-size: 40px;
    border: 2px solid black;
    margin: 0;
    background-color: pink;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.calc-button7:hover {
    background-color: rgb(228, 21, 55);
}
.calc-button7:active {
    background-color: rgb(241, 79, 106);
}
.calc-button8 {
    width: 22%;
    height: 100px;
    font-size: 40px;
    border: 2px solid black;
    margin: 0;
    background-color: pink;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.calc-button8:hover {
    background-color: rgb(228, 21, 55);
}
.calc-button8:active {
    background-color: rgb(241, 79, 106);
}
.calc-button9 {
    width: 22%;
    height: 100px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 40px;
    border: 2px solid black;
    background-color: pink;
    border-radius: 20px;
}
.calc-button9:hover {
    background-color: rgb(228, 21, 55);
}
.calc-button9:active {
    background-color: rgb(241, 79, 106);
}
.calc-buttonT {
    width: 22%;
    background-color: white;
    height: 100px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 20px;
    color: rgb(253, 17, 56);
}
.calc-buttonT:hover {
    background-color: rgb(228, 21, 55);
    color: whitesmoke;

}
.calc-buttonT:active {
    background-color: rgb(241, 79, 106);
    color: whitesmoke;

}
.calc-button4 {
    width: 22%;
    height: 100px;
    font-size: 40px;
    border: 2px solid black;
    background-color: pink;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.calc-button4:hover {
    background-color: rgb(228, 21, 55);
}
.calc-button4:active {
    background-color: rgb(241, 79, 106);
}
.calc-button5 {
    width: 22%;
    height: 100px;
    font-size: 40px;
    border: 2px solid black;
    background-color: pink;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.calc-button5:hover {
    background-color: rgb(228, 21, 55);
}
.calc-button5:active {
    background-color: rgb(241, 79, 106);
}
.calc-button6 {
    width: 22%;
    height: 100px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 40px;
    border: 2px solid black;
    background-color: pink;
    border-radius: 20px;
}
.calc-button6:hover {
    background-color: rgb(228, 21, 55);
}
.calc-button6:active {
    background-color: rgb(241, 79, 106);
}
.calc-buttonM {
    width: 22%;
    background-color: white;
    height: 100px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 20px;
    color: rgb(253, 17, 56);
}
.calc-buttonM:hover {
    background-color: rgb(228, 21, 55);
    color: whitesmoke;

}
.calc-buttonM:active {
    background-color: rgb(241, 79, 106);
    color: whitesmoke;

}
.calc-button1 {
    width: 22%;
    height: 100px;
    font-size: 40px;
    border: 2px solid black;
    background-color: pink;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.calc-button1:hover {
    background-color: rgb(228, 21, 55);
}
.calc-button1:active {
    background-color: rgb(241, 79, 106);
}
.calc-button2 {
    width: 22%;
    height: 100px;
    font-size: 40px;
    border: 2px solid black;
    background-color: pink;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.calc-button2:hover {
    background-color: rgb(228, 21, 55);
}
.calc-button2:active {
    background-color: rgb(241, 79, 106);
}
.calc-button3 {
    width: 22%;
    height: 100px;
    font-size: 40px;
    border: 2px solid black;
    background-color: pink;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.calc-button3:hover {
    background-color: rgb(228, 21, 55);
}
.calc-button3:active {
    background-color: rgb(241, 79, 106);
}
.calc-buttonP {
    width: 22%;
    background-color: white;
    height: 100px;
    font-size: 40px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 20px;
    color: rgb(253, 17, 56);
}
.calc-buttonP:hover {
    background-color: rgb(228, 21, 55);
    color: whitesmoke;

}
.calc-buttonP:active {
    background-color: rgb(241, 79, 106);
    color: whitesmoke;

}
.calc-button0 {
    width: 72%;
    height: 100px;
    font-size: 40px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 2px solid black;
    background-color: pink;
    border-radius: 20px;
    margin-left: 5px;
}
.calc-button0:hover {
    background-color: rgb(228, 21, 55);
}
.calc-button0:active {
    background-color: rgb(241, 79, 106);
}
.calc-buttonE {
    width: 22%;
    background-color: white;
    height: 100px;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 20px;
    color: rgb(253, 17, 56);
}
.calc-buttonE:hover {
    background-color: rgb(228, 21, 55);
    color: whitesmoke;

}
.calc-buttonE:active {
    background-color: rgb(241, 79, 106);
    color: whitesmoke;

}

